html, body {
    height: 100%;
}

.home-bg-image {
    background:   #f4f4f4 url('../img/photo-1.jpg') no-repeat bottom left;
    @include bg-cover();
    position:   relative;
    height: 70%;
    height: calc(100% - 120px);
}

.home-desc {
    @include bg-opacity($black, 0.2);
    color:  $white;
    padding:    $spacing-unit;
}

#loading-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: #bbb;
}

.logo {
    svg {
        width:  120px;
        height: auto;
    }
}

.wrapper, .home-bg-image {
    @include media-query($on-palm) {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
    }
}